<!doctype html>
<!--
* Tabler - Premium and Open Source dashboard template with responsive and high quality UI.
* @version 1.0.0-beta
* @link https://tabler.io
* Copyright 2018-2021 The Tabler Authors
* Copyright 2018-2021 codecalm.net Paweł Kuna
* Licensed under MIT (https://github.com/tabler/tabler/blob/master/LICENSE)
-->
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>Sign in - DNMS</title>
  <!-- CSS files -->
  <link href="/assets/vendor/tabler/css/tabler.min.css" rel="stylesheet" />
  <link href="/assets/vendor/tabler/css/tabler-flags.min.css" rel="stylesheet" />
  <link href="/assets/vendor/tabler/css/tabler-payments.min.css" rel="stylesheet" />
  <link href="/assets/vendor/tabler/css/tabler-vendors.min.css" rel="stylesheet" />
  <link href="/assets/vendor/tabler/css/demo.min.css" rel="stylesheet" />
</head>

<body class="antialiased border-top-wide border-primary d-flex flex-column">
  <div class="flex-fill d-flex flex-column justify-content-center py-4">
    <div class="container-tight py-6">
      <div class="text-center mb-4">
        <a href="."><img src="./static/logo.svg" height="36" alt=""></a>
      </div>
      <form class="card card-md" action="/login" method="POST" autocomplete="off">
        <div class="card-body">
          <h2 class="card-title text-center mb-4">Login to your account</h2>
          <% if (locals.alert){ %>
          <div class="alert alert-<%= alert.status %> alert-dismissible fade show" role="alert">
            <strong><%= alert.title %></strong> <%= alert.message %>
            <button type="button" class="btn-close" data-dismiss="alert" aria-label="Close"></button>
          </div>
          <% } %>
          <div class="mb-3">
            <label class="form-label">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Enter username">
          </div>
          <div class="mb-2">
            <div class="input-group input-group-flat">
              <input type="password" name="password" class="form-control" placeholder="Password" autocomplete="off"
                value="">
              <span class="input-group-text">
                <a href="#" class="link-secondary" title="Show password" data-bs-toggle="tooltip"><svg
                    xmlns="http://www.w3.org/2000/svg" class="icon" width="24" height="24" viewBox="0 0 24 24"
                    stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                    <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                    <circle cx="12" cy="12" r="2" />
                    <path
                      d="M22 12c-2.667 4.667 -6 7 -10 7s-7.333 -2.333 -10 -7c2.667 -4.667 6 -7 10 -7s7.333 2.333 10 7" />
                  </svg>
                </a>
              </span>
            </div>
          </div>
          <div class="form-footer">
            <button type="submit" class="btn btn-primary w-100">Sign in</button>
          </div>
        </div>
      </form>
    </div>
  </div>
  <!-- Libs JS -->
  <!-- Tabler Core -->
  <script src="/assets/vendor/tabler/js/tabler.min.js"></script>
</body>

</html>