.overlay-container {
    height: 100%;
    width: 100%;
    position: absolute;z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
}